// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.notes_container {
  /* Positioning */
  /* Box-model */
  margin: 15px auto;
  max-width: 320px;
  padding: 25px;
  /* Typography */
  text-align: center;
  /* Visual */
  background-color: #fff;
  border: 1px solid #ccc;
  /* Misc */
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    a {
      color: #121821;
      -webkit-transition: all 400ms ease-in-out;
         -moz-transition: all 400ms ease-in-out;
              transition: all 400ms ease-in-out;

      &:hover {
        color: #df4a37;
      }
    }
  }
  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #a6aebb;
    a {
      color: #a6aebb;
      font-weight: 800;
    }
  }
}