// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.notes_container {
  background-color: #fff;
  max-width: 420px;
  border: 1px solid #ccc;
  padding: 25px;
  margin: 15px auto;
  h3, h5 {
    margin-top: 0;
    margin-bottom: 5px;
  }
}