// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-square {
	width: 300px;
	height: 300px;
	margin-bottom: 15px;
	padding-top: 65px;
	display: inline-block;
	background-color: #f44a56;
	color: #fff;
	-webkit-transition: background-color .8s ease-in-out;
	   -moz-transition: background-color .8s ease-in-out;
	        transition: background-color .8s ease-in-out;
	h3 {
		background-color: #fff;
		color: #111;
		margin-top: 70px;
		font-size: 13px;
		font-weight: 600;
		padding-top: 10px;
		text-align: center;
		padding-bottom: 10px;
		border: 1px solid #ddd;
		margin-bottom: 0;
	}
	a {
		color: #fff;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
	}
	i {
		font-size: 125px;
		&:last-child { margin-left: 10px; }
	}
}


@media only screen and (max-width: 640px) {
	.project-square {
		width: 100%;
		margin-bottom: 20px;
	}
}

.project-square:hover {
	background-color: #b54322;

}


.project-square a:hover {
	text-decoration: none;

}

a.icon-session-action {
	color: black;
	-webkit-transition: color .8s ease-in-out;
	   -moz-transition: color .8s ease-in-out;
	        transition: color .8s ease-in-out;

}

a.icon-session-action:hover {
	text-decoration: none;
	color: #D84A35;
}

// Tile Colors

.blue { background-color: #268bd2; }
.blue:hover { background-color: #488AF7; }

.black { background-color: #454545; }
.black:hover { background-color: #262626; }

.pink { background-color: #ff237a; }
.pink:hover { background-color: #d51d66; }

.green { background-color: #2bcda9;}

.orange { background-color: #F1783C; }

.purple { background-color: #795aac; }