// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-square {
	width: 300px;
	height: 300px;
	margin-bottom: 15px;
	padding-top: 65px;
	display: inline-block;
	background-color: #111;
	color: #fff;
	-webkit-transition: background-color .8s ease-in-out;
	   -moz-transition: background-color .8s ease-in-out;
	        transition: background-color .8s ease-in-out;
	@media only screen and (max-width: 640px) {
		width: 100%;
		margin-bottom: 20px;
	}
	&:hover {
		background-color: #111;
	}
	h3 {
		background-color: #fff;
		color: #111;
		margin-top: 70px;
		font-size: 13px;
		font-weight: 600;
		padding-top: 10px;
		text-align: center;
		padding-bottom: 10px;
		border: 1px solid #ddd;
		margin-bottom: 0;
	}
	a {
		color: #fff;
		opacity: .8;
		transition: opacity 400ms ease-in-out;
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
	i {
		font-size: 125px;
		&:last-child { margin-left: 10px; }
	}
}

.icon-session-action {
	color: #000;
	-webkit-transition: color .8s ease-in-out;
	   -moz-transition: color .8s ease-in-out;
	        transition: color .8s ease-in-out;
	&:hover  {
		color: #D84A35;
	}
}

td.project-user-actions a:hover {
	text-decoration: none;

}

// Tile Colors

.red { background-color: #454545; }

.blue { background-color: #268bd2; }
.blue:hover { background-color: #488AF7; }

.black { background-color: #454545; }
.black:hover { background-color: #262626; }

.pink { background-color: #ff237a; }
.pink:hover { background-color: #d51d66; }

.green { background-color: #42ba5d;}
.green:hover { background-color: #389d4f;}

.orange { background-color: #F1783C; }

.purple { background-color: #795aac; }