div.user_card {
	background-color: #fff;
	margin: 0 auto;
	width: 320px;
	text-align: center;
	border: 1px solid #eee;
	padding: 20px;
}

div.user_index_page {
	background-color: #fff;
	max-width: 420px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	a:hover {
		text-decoration: none;
	}
}