<center><%= link_to new_user_note_category_path(current_user), class: "btn btn-red btn-mini" do %> <i class="fa fa-plus fa-3x"></i> <% end %></center>


<div class="container">
  <div class="note_category_container">
    <input type="text" class="" placeholder="Begin Typing" id="note_category_filter">
    <% @note_categories.each do |note_category| %>
        <h5 class="note_category_title" data-name="<%= note_category.name %>"><%= link_to note_category.name, note_category %></h5>
    <% end %>
  </div>
</div>