  <div class="navigation">
    <div class="navinner">
      <a href="/"><%= image_tag 'kremlinstar.png', class: "img-circle" %></a>
      <ul>
      	<li><a href="/schools">Schools</a><%= link_to new_school_path  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      	<li><a href="/">Projects</a><%= link_to new_user_project_path(current_user)  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      	<li><a href="/people">People</a><%= link_to new_person_path  do %><small> <i class="fa fa-plus-circle"></i></small><% end %></li>
      </ul>
    </div>
  </div>